body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(191, 243, 243);
}
.a {
color:rgb(153, 153, 245);
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.b {
    color:rgb(114, 114, 231);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.abc {
    color: rgb(243, 128, 71);
}